<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${blog.title}"></title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>
<div th:replace="navbar"></div>
<link rel="stylesheet" href="/stylesheets/markdown.css"/>
<link rel="stylesheet" href="/stylesheets/simplemde.min.css"/>
<link rel="stylesheet" href="/stylesheets/blog/blog.css"/>
<div class="main">
  <div class="bg-info title">
    <input id="blogId" type="text" th:value="${blog.id}" hidden="hidden"/>
    <p th:text="${blog.title}"></p>
    <footer>
      <small>发布时间：<span th:text="${blog.postedAt}"></span></small>
    </footer>
  </div>

  <div class="content">
    <div th:remove="tag" th:utext="${blog.content}"></div>
  </div>

  <div class="comments">
    <fieldset>
      <legend><em>评论区</em></legend>
      <dl th:each="comment: ${comments}">
        <dd th:text="${comment.commentAt}"></dd>
        <dt th:text="${comment.reader}"></dt>
        <dd th:remove="tag" th:utext="${comment.comment}"></dd>
      </dl>
    </fieldset>
    <div class="comment">
      <textarea name="comment" id="comment" rows="1"></textarea>
      <div class="input-group" style="width: 200px;">
        <input id="reader" type="text" class="form-control" placeholder="大侠请留名" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="commentSubmit();">发布</button>
        </span>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/simplemde.min.js"></script>
<script src="/javascripts/markdown.min.js"></script>
<script src="/javascripts/blog/blog.js"></script>

</body>
</html>
