<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>博客</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>
<div th:replace="navbar"></div>
<link rel="stylesheet" href="/stylesheets/blog/index.css"/>
<div class="main">
  <!-- Blog List -->
  <div th:each="blog: ${blogs}">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title" th:text="${blog.postedAt}"></h3>
      </div>
      <div class="panel-body">
        <h3><a th:href="@{/blog/post(id=${blog.id})}" th:text="${blog.title}"></a></h3>
      </div>
    </div>
  </div>
</div>

</body>
</html>
