a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main {
  margin-top: -20px;
  background: #FFF;
}

.jumbotron {
  padding: 30px;
}

@media (min-width: 992px) {
  .main {
    margin-top: -20px;
    background: #FFF;
  }

  .jumbotron {
    padding: 100px;
  }
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.row img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
