<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>记事本</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>
<div th:replace="navbar"></div>
<link rel="stylesheet" href="/stylesheets/note.css"/>
<div class="main">
  <blockquote>
    <p>震惊！程序猿他竟然 ！</p>
    <footer>>> 买了三年的阿里云服务器，发誓一定要加班赚回来 ...</footer>
  </blockquote>
  <div class="table-responsive">
    <!-- Aliyun ECS Fee List -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>编号</th>
        <th>日期</th>
        <th>收入</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="alifee: ${alifees}">
        <td th:text="${alifee.id}"></td>
        <td th:text="${alifee.date}"></td>
        <td th:text="${alifee.fee}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
