<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>分享</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>
<div th:replace="navbar"></div>
<link rel="stylesheet" href="/stylesheets/share.css"/>
<div class="main">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">React VR</h3>
    </div>
    <div class="panel-body" style="font-size: medium">
      <a href="http://vr.cikai.me" target="_blank">React VR 在线体验</a>
    </div>
  </div>
</div>
</body>
</html>
