<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>工具　</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>
<div th:replace="navbar"></div>
<link rel="stylesheet" href="/stylesheets/tool.css"/>
<div class="main">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Markdown</h3>
    </div>
    <div class="panel-body" style="font-size: medium">
      <a href="http://markdown.cikai.me" target="_blank">在线 Markdown 编辑器</a>
    </div>
  </div>
</div>
</body>
</html>
