a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main {
  padding: 10px;
}

@media (min-width: 992px) {
  .main {
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
}
